faiss-cpu==1.9.0.post1
ffmpy==0.4.0
gigachain==0.2.16
gigachain-core==0.2.38.post2
gigachain-text-splitters==0.2.4
gigachain_community==0.2.16.post3
gigachat==0.1.36 
langchain-core==0.3.21
langchain-openai==0.2.10
langfuse==2.54.1
markupsafe==2.1.5
marshmallow==3.23.1
mypy-extensions==1.0.0
pydub==0.25.1
pypdf==5.1.0
python-multipart==0.0.12
chardet==5.2.0
ruff==0.8.0
semantic-version==2.10.0
starlette==0.41.3
tenacity==8.5.0
tiktoken==0.8.0
tomlkit==0.12.0
typing-inspect==0.9.0
sentence-transformers==3.2.1
transformers==4.46.2
unstructured==0.16.8
jq==1.8.0
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
onnxruntime==1.20.1
python_docx==1.1.2
youtube_transcript_api==0.6.3