.page {
	padding: 30px 80px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.title {
	color: #00aae6;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.specialBtn {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.botChat {
	border: 5px solid #00aae6;
	border-radius: 30px;
	overflow: hidden;
	padding-bottom: 10px;
}
.prewHeader {
	padding: 10px;
	display: flex;
	align-items: center;
	gap: 10px;
	color: #fff;
	font-size: 36px;
	line-height: 24px; /* 66.667% */
	.previewLogo {
		width: 70px;
		height: 70px;
		border-radius: 70px;
	}
}
.chat {
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding: 20px 10px;
	overflow: auto;
	max-height: 400px;
}
.ourMsg {
	display: flex;
	gap: 10px;
	align-items: flex-end;
	.text {
		border: 1px solid rgba(0, 0, 0, 0.45);
	}
	max-width: 70%;
	align-self: flex-end;
}
.theirMsg {
	width: 70%;
	align-self: flex-start;
	display: flex;
	gap: 10px;
	.miniIcon {
		align-self: flex-end;
	}
	.text {
		color: white;
	}
	.time {
		text-align: left;
	}
}
.text {
	padding: 14px;
	border-radius: 20px;
	font-size: 12px;
}
.time {
	text-align: right;
	color: rgba(0, 0, 0, 0.25);
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	margin-top: 10px;
}
.inputArea {
	display: flex;
	padding: 20px;
	flex-direction: column;
}
.miniIcon {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	flex-shrink: 0;
}
.chatChat {
	display: flex;
	gap: 20px;
	padding: 20px;
	align-items: center;
}
.blackTitle {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 10px;
}
.TextArea {
	margin-bottom: 20px;
}

.miniBtn {
	align-self: flex-end;
}
.botChat {
	border: 5px solid #00aae6;
	border-radius: 30px;
	overflow: hidden;
	position: absolute;
	right: 20px;
	bottom: 40px;
	width: 30vw;
}
.prewHeader {
	padding: 10px;
	display: flex;
	align-items: center;
	gap: 10px;
	color: #fff;
	font-size: 36px;
	line-height: 24px; /* 66.667% */
	.previewLogo {
		width: 70px;
		height: 70px;
		border-radius: 70px;
	}
}
